html{
	height: 100%
	width: 100%;

}


body{
	background-image: url("../images/footer.png");
	height: 100%
	width: 100%;
	font-family: 'Open Sans Condensed', 'sans-serif';
	font-weight: 300;
}

a:hover{
	text-decoration: none;
}

#header{
	background-image:url("../images/bg.jpg");
	background-size: cover;
	padding: 5em;
	padding-top: 15em;
	/*background-color: green;*/
	width:100%;
	/*height: 50em;*/
	height: 92%;
	-webkit-box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    0px 9px 11px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         0px 9px 11px 0px rgba(0, 0, 0, 0.9);
	position: absolute;
}

#profile{
	-webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 1);
	max-width: 100%;
	max-height: 100%;
}

#imageBox{
	/*background-color: green;*/
	width: 10em;
	float: left;
}

#descriptionBox{
	/*background-color: red;*/
	height: 10em;
	max-height: 10em;
	float:left;
	font-size: xxx-large
}

#name{
	float:left;
	font-size: 3em;
	padding-left: 15px;
	padding-top: 10px;

}

#descriptionText{
	float: left;
	font-size: 2em;
	padding-left: 15px;
}

.content{
	
	width: 100%;
	/*height: 10em;*/
	/*background-image: url("../images/footer.png");*/
	padding: 2.6%;
	padding-left: 5em;
	/*position: absolute;*/
	color: #B2B2B3;
	font-size: 1em;
	height: 3%;
	position: absolute;
	bottom: 0;
}