body {
    /*color: rgb(40, 48, 56);*/
    /*background-color: rgba(254, 95, 85, 1);*/
    font-family: 'Cutive Mono', monospace;
    margin: 30px;
    max-width: 450px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

ul {
    font-family: 'Cutive Mono', monospace;
}

li {
    padding-bottom: 5px;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    font-size: 3em;
}

h2 {
    font-family: 'Cutive Mono', monospace;
}
